@model IEnumerable<BodegasRuizApp.Models.Producto>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Nuestros vinos</h1>

@if (User.IsInRole("admin")) {
    <p>
        <a asp-action="Create">Crear nuevo artículo</a>
    </p>
}
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-4 accordion">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    <img class="card-img" src="~/img/@item.Foto" data-toggle="collapse" data-target="#demo_@item.ProductoId" alt="@item.Nombre @item.Añada">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@item.Nombre</h4>
                    <h6 class="card-text"> Añada @item.Añada</h6>
                </div>
                <ul class="list-group list-group-flush panel-collapse collapse" id="demo_@item.ProductoId">
                    <li class="list-group-item">Dias en barrica:@item.DiasBarrica</li>
                    <li class="list-group-item">% alcohol: @item.GradoAlc</li>
                    <li class="list-group-item">Cantidad disponible: @item.CantidadTotal</li>
                    <li class="list-group-item">Precio por unidad: @item.PrecioStd</li>
                    @if (User.IsInRole("user") || User.IsInRole("admin"))
                    {
                        <form asp-controller="Compras" asp-action="Create">
                            <input type="number" name="cantidad" placeholder="Cantidad a pedir " />
                            <button type="submit" class="btn btn-secondary">Comprar</button>
                        </form>
                        <form asp-controller="Favoritos" asp-action="Create">
                            <button type="submit" class="btn btn-secondary">Favorito</button>
                        </form>
                    }
                </ul>
                @if (User.IsInRole("admin"))
                {
                    <div class="card-body">
                        <a asp-action="Edit" asp-route-id="@item.ProductoId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductoId">Details</a> |
                    </div>
                }
            </div>
        </div>
    }
</div>

